*{
  box-sizing:border-box;
}
h1{
  font-weight: 600;
  font-size: 75px;
  text-align: center;
}
body{
  font-family: 'Roboto', sans-serif;
}
.container{
 
}
.js-buttons-and-filtering{
  padding: 20px;
}
.filter{
  text-align: right;
  margin-right: 5px;
  float: right;
}

ul, li{
  list-style-type: none;
}


.error{
  border-width: 3px;
  margin: auto;
  width: 50%;
  
}
.error-content {
  color: red;



}

.error-content button {
  position: relative;
  color: black;
}
